<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> SMMC ~
        <%= title %>
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/images/SMMC_logo.png" type="image/x-icon" />


    <!-- All needed css-->
	<link rel="stylesheet" type="text/css" href="/login/Login_v15/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/login/Login_v15/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/login/Login_v15/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/login/Login_v15/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/login/Login_v15/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/login/Login_v15/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/login/Login_v15/vendor/daterangepicker/daterangepicker.css">
    <!-- Custom css-->
    <link rel="stylesheet" type="text/css" href="/login/Login_v15/css/util.css">
    <link rel="stylesheet" type="text/css" href="/login/Login_v15/css/main.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/template/assets/css/atlantis.min.css">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/template/assets/css/demo.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/images/smmc_e.jpg);">
					<span class="login100-form-title-1">
						SMMC
					</span>
				</div>
                <div id="alert_log" class="alert" role="alert"></div>
				<div class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100"><i class="fa fa-user"></i></span>
						<input class="input100" type="email" id="email" placeholder="exemple@smmc.mg">
                        <span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                        <span class="label-input100"><i class="fa fa-lock"></i></span>
						<input class="input100" type="password" id="mdp" placeholder="Entrer ici votre mot de passe">
						<span class="focus-input100"></span>
                    </div>
                   

					<div class="ml-md-auto py-2 py-md-0">
						<button class="login100-form-btn" id="conn">
							se connecter
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/login/Login_v15/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/login/Login_v15/vendor/animsition/js/animsition.min.js"></script>
	<script src="/login/Login_v15/vendor/bootstrap/js/popper.js"></script>
	<script src="/login/Login_v15/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/login/Login_v15/vendor/select2/select2.min.js"></script>
	<script src="/login/Login_v15/vendor/daterangepicker/moment.min.js"></script>
	<script src="/login/Login_v15/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="/login/Login_v15/vendor/countdowntime/countdowntime.js"></script>
    <script src="/login/Login_v15/js/main.js"></script>
    <!-- Ajax engine-->
    <script src="/js/ajax/login.js"></script>

</body>
</html>