#divider {
    text-align: center;
}
.text-center{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
}
.box{
    font-size: 1.5em;
}
.chat_user:hover{
    border-radius: 0.5em;
    background-color: #f2f2f2;
}
.chat_user_select{
    border-radius: 0.5em;
   background-color: whitesmoke;
}
._message{
    border-radius: 1em;
    background-color: white;
}
.__message{
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.5em;
}
.m p{
    font-size: 1.3em;
}
.section {
    margin-top: 9em;
}
.navigation{
    margin-top: 5em;
}
div.mail{
    padding-left: 0.3rem;
    text-align: center;
}

.choix{
    border-radius:0.5em;
    text-align: center;
}

._choix{
    margin-top: 2em;
    background: radial-gradient(circle, rgb(10, 143, 88) 6%,rgb(10, 189, 114) 96%);
    color: #f2f2f2;
}
._choix:hover {
   background: white;
   color: black;
}

div.name{
    text-align: center;
    font: bold 50px Georgia, serif;
    height: 15%;
}

ol#info-profile{
    list-style-type: none;
}


p.profile-name{
    font-weight: 1000;
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
}

#custom_panel {
    background: rgb(18, 106, 89);
    background: radial-gradient(circle, rgba(18, 106, 89, 1) 6%, rgba(45, 173, 78, 1) 96%);
    height: 8rem;
    border-radius: 0em 0em 2em;
}

#custom_panel2 {
    background: rgb(18, 106, 89);
    background: radial-gradient(circle, rgba(18, 106, 89, 1) 6%, rgba(45, 173, 78, 1) 96%);
}
#custom_panel3 {
    background: rgb(18, 106, 89);
    background: radial-gradient(circle, rgba(18, 106, 89, 1) 6%, rgba(45, 173, 78, 1) 96%);
    height: 12rem;
}
#acceuil_titre{
    margin-top:3em;
}
#custom_nav_header {
    background-color: rgb(236, 236, 236);
}

.custom_logo {
    background-color: rgb(236, 236, 236);
}

.logo img {
    width: 8rem;
}

div.new_sms{
    white-space: nowrap;
    width: 250px; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

#th_dir {
    width: 100%;
}

#th_dir {
    width: 70%;
}

#logo_err {
    width: 6.8em;
    margin-top: 0.8em;
}

.border{
    position: relative;
	padding: 2rem;
	border: 3px solid rgba(238, 238, 238, 0);
}

div.tech_list{
    height: 390px;
    overflow-y: auto;
    scrollbar-width: auto;
}

div.all_message{
    height: 110px;
    overflow-y: auto;
    scrollbar-width: auto; 
}

div.all_message::-webkit-scrollbar-button{
    pointer-events:fill;
}

.reload_userconnected{
    padding-left: 1px;
    padding-right: 1px;
}

.box{
    text-align: center;
}

.box_footer{
    height: 300px;
}

div.info{
    color: black;
}
#user{
    text-align: center;
    height: 1px;
    margin: auto;
}

div.titre{
    padding-top: 25px;
}

div.dd_menu{
    height: 150px;
    overflow-y: auto;
}
/*Chat application css*/
.searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
}
  
.searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
}
  
.searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: rgb(235, 234, 233);
}
.sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}
  
.sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    height: 72px;
    margin: 0 !important;
    cursor: pointer;
}
  
.sideBar-body:hover {
    background-color: #f2f2f2;
}
/* Social animation*/

.height450{height:450px;}

.social-overlap {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.social-bar {
    display: flex;
}
.iconpad {
    padding: 12px 0;
    width: 100%;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.process-scetion .slider-nav-item {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    transition: all .4s ease;
}

.social-icons a {
    border-radius: 50px;
    color: #3f345f;
    display: inline-block;
    line-height: 52px;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
    margin: 15px 15px;
    font-size: 22px;
}

a {
    text-decoration: none !important;
    color: #3f345f;
    transition: all 0.3s ease 0s;
}

.slider-nav-item:before {
    position: absolute;
    content: "";
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite forwards;
   /* animation: name duration timing-function delay iteration-count direction fill-mode;*/

}



/*socil*/
.slider-nav{
        display: flex;
}

.process-scetion .slider-nav-item {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    transition: all .4s ease;

}


    .process-scetion .slider-nav-item:nth-child(1) {
      color: #0c58bb; }
    .process-scetion .slider-nav-item:nth-child(2) {
      color: #35e711; }
    .process-scetion .slider-nav-item:nth-child(4) {
      color: #59ecff; }
    .process-scetion .slider-nav-item:nth-child(5) {
      color: #38385f; }
    .process-scetion .slider-nav-item:after {
      position: absolute;
      top: 50%;
      left: 100%;
      height: 2px;
      content: '';
      width: 100%;
      z-index: 0;
      animation: slide 1s linear infinite; }
    .process-scetion .slider-nav-item:last-child:after {
      display: none; }
    .process-scetion .slider-nav-item .ikon {
      font-size: 50px;
      line-height: 80px; }


     